# https://doc.rust-lang.org/cargo/guide/continuous-integration.html
name: CI

on:
  push:
    branches: [main, temp]
  pull_request:
    branches: [main, temp, cli]
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      # https://github.com/rust-lang/rustfmt?tab=readme-ov-file#checking-style-on-a-ci-server
      - run: cargo fmt --all -- --check
      # https://github.com/rust-lang/rust-clippy?tab=readme-ov-file#travis-ci
      - run: cargo clippy -- -D warnings
      - run: cargo build --verbose
      - run: cargo test --verbose
